@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------------------- BREAKPOINTS ---------------------------
 *  xs     sm      md      lg      xl
 * 520px  768px  1024px  1280px  1640px
 */



/* ---------------------------- THEMES ---------------------------- */
:root, .light, .light-theme {
	--blue-1: #fafdff;
	--blue-2: #f2faff;
	--blue-3: #e2f4ff;
	--blue-4: #d2edff;
	--blue-5: #c0e3ff;
	--blue-6: #a7d6ff;
	--blue-7: #86c4ff;
	--blue-8: #54abff;
	--blue-9: #024a8b;
	--blue-10: #003979;
	--blue-11: #006ed2;
	--blue-12: #003575;

	--blue-a1: #0099ff05;
	--blue-a2: #009dff0d;
	--blue-a3: #009fff1d;
	--blue-a4: #0099ff2d;
	--blue-a5: #008eff3f;
	--blue-a6: #0089ff58;
	--blue-a7: #0083ff79;
	--blue-a8: #0082ffab;
	--blue-a9: #00498afd;
	--blue-a10: #003979;
	--blue-a11: #006ed2;
	--blue-a12: #003575;

	--blue-contrast: #fff;
	--blue-surface: #eff9ffcc;
	--blue-indicator: #024a8b;
	--blue-track: #024a8b;
}

@supports (color: color(display-p3 1 1 1)) {
	@media (color-gamut: p3) {
		:root, .light, .light-theme {
			--blue-1: oklch(99.3% 0.0067 253);
			--blue-2: oklch(98.1% 0.0156 253);
			--blue-3: oklch(96% 0.0356 253);
			--blue-4: oklch(93.6% 0.0591 253);
			--blue-5: oklch(90.4% 0.081 253);
			--blue-6: oklch(86.2% 0.1024 253);
			--blue-7: oklch(80.7% 0.1304 253);
			--blue-8: oklch(73.2% 0.1775 253);
			--blue-9: oklch(40.9% 0.1248 253);
			--blue-10: oklch(35% 0.1248 253);
			--blue-11: oklch(54.2% 0.1775 253);
			--blue-12: oklch(33.7% 0.1248 253);

			--blue-a1: color(display-p3 0.0235 0.5137 1 / 0.016);
			--blue-a2: color(display-p3 0.0235 0.5922 0.9216 / 0.048);
			--blue-a3: color(display-p3 0.0039 0.5412 0.9647 / 0.102);
			--blue-a4: color(display-p3 0.0039 0.5255 0.9529 / 0.157);
			--blue-a5: color(display-p3 0.0039 0.4863 0.949 / 0.22);
			--blue-a6: color(display-p3 0.0039 0.4627 0.949 / 0.306);
			--blue-a7: color(display-p3 0.0039 0.4314 0.9569 / 0.42);
			--blue-a8: color(display-p3 0 0.4235 0.9529 / 0.585);
			--blue-a9: color(display-p3 0 0.1922 0.4627 / 0.883);
			--blue-a10: color(display-p3 0 0.149 0.4118 / 0.918);
			--blue-a11: color(display-p3 0 0.298 0.7529 / 0.82);
			--blue-a12: color(display-p3 0 0.1412 0.4 / 0.926);

			--blue-contrast: #fff;
			--blue-surface: color(display-p3 0.9412 0.9725 1 / 0.8);
			--blue-indicator: oklch(40.9% 0.1248 253);
			--blue-track: oklch(40.9% 0.1248 253);
		}
	}
}

.dark, .dark-theme {
	--blue-1: #1e2833;
	--blue-2: #202c38;
	--blue-3: #1b3a57;
	--blue-4: #0c4371;
	--blue-5: #134e81;
	--blue-6: #1e5b91;
	--blue-7: #286aa5;
	--blue-8: #2b7bc2;
	--blue-9: #6db7ff;
	--blue-10: #62acf3;
	--blue-11: #72bcff;
	--blue-12: #c8e4ff;

	--blue-a1: #003ffb0b;
	--blue-a2: #0073fc11;
	--blue-a3: #0081ff36;
	--blue-a4: #007bff55;
	--blue-a5: #0086fd69;
	--blue-a6: #1592fd7c;
	--blue-a7: #299bfe94;
	--blue-a8: #2d9dffb6;
	--blue-a9: #6db7ff;
	--blue-a10: #66b4fff1;
	--blue-a11: #72bcff;
	--blue-a12: #c8e4ff;

	--blue-contrast: #fff;
	--blue-surface: #1a314680;
	--blue-indicator: #6db7ff;
	--blue-track: #6db7ff;
}

@supports (color: color(display-p3 1 1 1)) {
	@media (color-gamut: p3) {
		.dark, .dark-theme {
			--blue-1: oklch(27.4% 0.0245 249.2);
			--blue-2: oklch(28.6% 0.0281 249.2);
			--blue-3: oklch(34% 0.0638 249.2);
			--blue-4: oklch(37.6% 0.0953 249.2);
			--blue-5: oklch(41.6% 0.1031 249.2);
			--blue-6: oklch(46% 0.1071 249.2);
			--blue-7: oklch(51.1% 0.1153 249.2);
			--blue-8: oklch(57% 0.1329 249.2);
			--blue-9: oklch(76.1% 0.128 249.2);
			--blue-10: oklch(72.6% 0.128 249.2);
			--blue-11: oklch(77.5% 0.128 249.2);
			--blue-12: oklch(90.7% 0.0485 249.2);

			--blue-a1: color(display-p3 0 0.2549 0.9922 / 0.038);
			--blue-a2: color(display-p3 0 0.4706 0.9882 / 0.062);
			--blue-a3: color(display-p3 0.0784 0.5059 0.9961 / 0.202);
			--blue-a4: color(display-p3 0.0431 0.4824 0.9961 / 0.32);
			--blue-a5: color(display-p3 0.1333 0.5373 1 / 0.39);
			--blue-a6: color(display-p3 0.2314 0.5843 1 / 0.465);
			--blue-a7: color(display-p3 0.298 0.6235 1 / 0.554);
			--blue-a8: color(display-p3 0.3059 0.6196 1 / 0.691);
			--blue-a9: color(display-p3 0.5059 0.7255 1 / 0.972);
			--blue-a10: color(display-p3 0.4824 0.7137 0.9961 / 0.916);
			--blue-a11: color(display-p3 0.5255 0.7451 1 / 0.972);
			--blue-a12: color(display-p3 0.8118 0.898 1 / 0.986);

			--blue-contrast: #fff;
			--blue-surface: color(display-p3 0.1137 0.1804 0.2667 / 0.5);
			--blue-indicator: oklch(76.1% 0.128 249.2);
			--blue-track: oklch(76.1% 0.128 249.2);
		}
	}
}

.dark, .dark-theme, :is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
	--color-background: #18181B;
}



/* ----------------------------- BODY ----------------------------- */
@layer base {
	html {
		@apply scroll-smooth scroll-pt-24;
	}

	body {
		scrollbar-gutter: stable both-edges;
	}
}



/* ---------------------------- LAYOUT ---------------------------- */
@layer utilities { }



/* -------------------------- TYPOGRAPHY -------------------------- */
.radix-themes {
    --default-font-family: var(--font-plus-jakarta-sans), var(--font-noto-sans-tc), sans-serif;
	--default-line-height: 1.75;
}



/* ---------------------------- STYLES ---------------------------- */
.radix-themes {
	--cursor-button: pointer;
	--cursor-checkbox: pointer;
	--cursor-disabled: default;
	--cursor-link: pointer;
	--cursor-menu-item: pointer;
	--cursor-radio: pointer;
	--cursor-slider-thumb: grab;
	--cursor-slider-thumb-active: grabbing;
	--cursor-switch: pointer;
}

@layer components {
	/* Footer */
	.footer-link {
		@apply text-zinc-400 decoration-zinc-400;
	}
}

@layer utilities {
	iframe {
		@apply aspect-video w-[min(100%,_768px)] h-full;
	}
}